<div class="orders">
    <div class="nav">
        <button class="tab active" data-status="all">All</button>
        <button class="tab" data-status="to ship">To Ship</button>
        <button class="tab" data-status="shipped">Shipped</button>
        <button class="tab" data-status="received">Received</button>
        <button class="tab" data-status="reviewed">Reviewed</button>
    </div>
    <div class="orders-table">
        {% for order in orders %}
        <div class="order">
            <div class="image-container">
                <img src="{{ url_for('static', filename='uploads/'+order.image_url) }}" alt="">
            </div>
            <div class="product-name">
                <h1>{{ order.product_name }}</h1>
            </div>
            <div class="size">
                <p>Size: {{ order.size }}</p>
            </div>
            <div class="color">
                <p>Color: {{ order.color }}</p>
            </div>
            <div class="quantity">
                <p>Quantity: {{ order.quantity }}</p>
            </div>
            <div class="payment-method">
                <p>Payment: {{ order.paymentmethod }}</p>
            </div>
            <div class="status">
                <h3>{{ order.status }}</h3>
            </div>
            <div class="price">
                <h2>₱{{ order.price }}</h2>
            </div>
        </div>
        {% endfor %}
    </div>
</div>