<div id="modal-content" class="modal-content restore-product">
    <div class="row close-row">
        <span id="close" class="close">&#x2715</span>
    </div>
    <div>
        <form method="post" action="{{ url_for('products.restore', product_id=product.product_id) }}">
	        <div class="heading-2">
				<div class="heading-2">Are you sure you want to unarchive this product?</div>
	        </div>
	        <hr>
	        <div class="form-row">
	            <div class="form-group">
	                <label for="name">Product Name</label>
					<input type="text" class="form-control" id="product_name" name="product_name" placeholder="Product Name" value="{{product.product_name}}" disabled>
	            </div>
	        </div>
            <div id="archive-image-show">
                <img src="{{ url_for('static', filename='uploads/' + product.image_url) }}" alt="{{ product.product_name }}">
            </div>
	        <hr>
	        <div class="form-row">
	            <button type="button" id="close-btn" class="form-btn width-50">Cancel</button>
				<button type="submit" id="save-btn" class="form-btn width-50">Restore</button>
	        </div>
	    </form>
    </div>
</div>