{% extends "base.html" %}

{% block content %}
<div class="product-view">
    <div class="product-image">
        <div class="thumbnail-container">
            {% for image in product.images %}
                <img src="{{ url_for('static', filename='uploads/' + image['image_url']) }}" alt="Thumbnail">
            {% endfor %}
        </div>
        <img src="{{ url_for('static', filename='uploads/' + product.image_url) }}" alt="{{ product.product_name }}">
    </div>

    <div class="product-details">
        <h1>{{ product.product_name }}</h1>
        <div class="price">
            <span class="sale-price">₱{{ product.price }}</span>
        </div>

        <ul class="features">
            <li class="description">{{ product.description }}</li>
            <li class="color"><span class="label">Color:</span> {{ product.color }}</li>
            <li class="size"><span class="label">Size:</span> {{ product.size }}</li>
        </ul>

        <div class="buttons">
            <form method="POST" action="{{ url_for('addtocart') }}">
                <input type="hidden" name="product_id" value="{{ product.product_id }}">
                <input type="hidden" name="price" value="{{ product.price }}">
                <button type="submit" class="add-to-cart">Add to Cart</button>
                <button type="button" class="buy-now">Buy it Now</button>
            </form>
        </div>

        <div class="social-share">
            <button>
                <span class="icon"><img src="{{ url_for('static', filename='icons/facebook.png') }}"></span>
                Share
            </button>
            <button>
                <span class="icon"><img src="{{ url_for('static', filename='icons/x.png') }}"></span>
                Post
            </button>
            <button>
                <span class="icon"><img src="{{ url_for('static', filename='icons/pinterest.png') }}"></span>
                Pin It
            </button>
        </div>
    </div>
</div>
{% endblock %}