<div id="modal-content" class="modal-content add-category">
	<div class="row close-row">
	    <span id="close" class="close">&#x2715</span>
	</div>
	<div>
	    <form method="post" action="{{ url_for('categories.add', parent_id=parent_id) }}">
			{% if parent_id == 0 %}
			<div class="heading-2">Add root category</div>
			{% else %}
			<div class="heading-2">Add subcategory</div>
			{% endif %}
	        <hr>
	        <div class="form-row">
	            <div class="form-group">
	                <label for="name">Category Name</label>
					<input type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name" name="category_name">
	            </div>
	        </div>
	        <hr>
	        <div class="form-row">
	            <button type="button" id="close-btn" class="form-btn width-50">Cancel</button>
				<button type="submit" id="save-btn" class="form-btn width-50">Save</button>
	        </div>
	    </form>
	</div>
</div>