<div id="modal-content" class="modal-content edit-category">
	<div class="row close-row">
	    <span id="close" class="close">&#x2715</span>
	</div>
	<div>
	    <form method="post" action="{{ url_for('categories.edit', category_id=category.category_id) }}">
	        {% if msg %}
	            <div class="alert alert-warning">{{ msg }}</div>
	        {% endif %}
	        <div class="heading-2">
				<div class="heading-2">Edit category</div>
	        </div>
	        <hr>
	        <div class="form-row">
	            <div class="form-group">
	                <label for="name">Category Name</label>
					<input type="text" class="form-control" id="category_name" name="category_name" placeholder="Category Name" value="{{ category.category_name }}">
	            </div>
	        </div>
            <div class="form-row">
	            <div class="form-group">
	                <label for="parent_id">Parent Category</label>
                    <select id="parent_id" name="parent_id">
                        {% for option in parent_options %}
                            {% if option.category_id != category.category_id %}
                                {% if option.category_id == category.parent_id %}
                                <option value="{{ option.category_id }}" selected>{{ option.category_name }}</option>
                                {% else %}
                                <option value="{{ option.category_id }}">{{ option.category_name }}</option>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </select>
	            </div>
	        </div>
	        <hr>
	        <div class="form-row">
	            <button type="button" id="close-btn" class="form-btn width-50">Cancel</button>
				<button type="submit" id="save-btn" class="form-btn width-50">Save</button>
	        </div>
	    </form>
	</div>
</div>