<div class="categories-main">
	<div class="title">
		<h1>Categories</h1>
		<h2>></h2>
		<h2>
			Archived categories
		</h2>
	</div>
	<div class="container categories-list">
		{% for category in categories %}
		<div class="layer depth-1">
			<div class="card">
				<div class="category-name"> 
					{{ category.category_name }}
				</div>
				<div class="actions">
					<span data-route="/categories/{{category.category_id}}/restore" class="action add"> Restore </span>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
	<div id="modal" class="modal">
    </div>
</div>