{% extends "base.html" %}

{% block title %}
<title>Zypher Admin</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/admin.css') }}"> 
{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='js/admin.js') }}" defer></script>
{% endblock %}

{% block content %}
<div id="admin-content">
    <div class="admin-side">
        <div class="btn-group">
            <button class="parent-btn" data-route="/orders/">Orders</button>
        </div>
        <div class="btn-group">
            <button class="parent-btn">Categories</button>
            <button class="child-btn collapsed" data-route="/categories/">Active Categories</button>
            <button class="child-btn collapsed" data-route="/categories/archived">Archived Categories</button>
        </div>
        <div class="btn-group">
            <button class="parent-btn">Products</button>
            <button class="child-btn collapsed" data-route="/products">Active Products</button>
            <button class="child-btn collapsed" data-route="/products/archived">Archived Products</button>
        </div>
        <div class="btn-group">
            <button class="parent-btn" data-route="/users/">Users</button>
        </div>
    </div>
    <div class="admin-main">
    </div>
</div>
{% endblock %}
