{% extends "base.html" %}

{% block title %}
<title>Your Cart</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/cart.css') }}">
{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='js/cart.js') }}" defer></script>
{% endblock %}

{% block content %}
<div class="cart-main">
    <div id="title">
        <span>Your Shopping Cart</span>
    </div>
    <div class="table">
        <div class="table-header">
            <input type="checkbox" onclick="selectAll(this)">
            <div class="item-col">Item</div>
            <div>Item Price</div>
            <div>Quantity</div>
            <div>Actions</div>
        </div>
        <div class="table-rows">
            {% if cart_items %}
                {% for item in cart_items %}
                <div class="table-row" data-item-id="{{ item['cart_item_id'] }}">
                    <input type="checkbox" class="item-checkbox" onclick="updateTotal()" 
                            data-product-id="{{item['product_id']}}"
                            data-name="{{item['product_name'] }}"
                            data-image-url="{{item['image_url']}}" 
                            data-price="{{item['price']}}" 
                            data-quantity="{{item['quantity']}}" 
                            data-size="{{item['size']}}" 
                            data-color="{{item['color']}}"
                            >
                    <div class="item-col">
                        <div class="image-container">
                            <img src="{{ url_for('static', filename='uploads/' + item['image_url']) }}" alt="{{ item['product_name'] }}">
                        </div>
                        <div class="item-details">
                            <div class="item-name">{{ item['product_name'] }}</div>
                            <div class="item-size">Size: {{ item['size'] }}</div>
                            <div class="item-color">Color: {{ item['color'] }}</div>
                        </div>
                    </div>
                    <div class="item-price" data-unit-price="{{ item['price'] }}">₱ {{ item['price']*item['quantity'] }}</div>
                    <div class="item-quantity">
                        <button onclick="changeQuantity(this, -1)">
                            <span class="icon"><img src="{{ url_for('static', filename='icons/minus.svg') }}"></span>
                        </button>
                        <span class="quantity">{{ item['quantity'] }}</span>
                        <button onclick="changeQuantity(this, 1)">
                            <span class="icon"><img src="{{ url_for('static', filename='icons/plus.svg') }}"></span>
                        </button>
                    </div>
                    <div class="remove">
                        <a id="remove" data-cart-item-id="{{item['cart_item_id']}}">Remove</a>
                    </div>
                </div>
                {% endfor %}
            {% else %}
            <div class="table-empty">
                <div class="message">Your cart is empty</div>
            </div>
            {% endif %}
        </div>
        <div class="checkout-summary">
            <div id="checkout-label"><span>Checkout Summary</span></div>
            <div id="order-total-label"><span>Order Total:</span></div>
            <div id="order-total"><span>₱ 0.00</span></div>
            <div id="checkout-btn"><span>Checkout Items</span></div>
        </div>
    </div>
</div>
{% endblock %}
