{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/catalog.css') }}"> 
{% endblock %}

{% block content %}
<div class="catalog-side">
    <div class="title">Filter</div>
    {% for d1 in category_tree %}
        <div class="d1">
            <input type="radio" name="category" value="{{ d1.category_id }}">
            {{ d1.category_name }}
            {% if d1.children|length > 0 %}
            <span class="expand-icon"><img src="{{ url_for('static', filename='icons/plus.svg') }}"></span>
            {% endif %}
            <div class="children" style="display: none;">
                {% for d2 in d1.children %}
                    <div class="d2">
                        <input type="radio" name="category" value="{{ d2.category_id }}">
                        {{ d2.category_name }}
                        {% if d2.children|length > 0 %}
                        <span class="expand-icon"><img src="{{ url_for('static', filename='icons/plus.svg') }}" loading="lazy"></span>
                        {% endif %}
                        <div class="children" style="display: none;">
                            {% for d3 in d2.children %}
                                <div class="d3">
                                    <input type="radio" name="category" value="{{ d3.category_id }}">
                                    {{ d3.category_name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>
<div class="catalog-main">
    <div id="sort">
        <label class="label" for="sort">Sort by</label>
        <select class="options" name="sort" id="sort">
            <option>Recommended</option>
            <option>Most Popular</option>
            <option>New Arrivals</option>
            <option>Top Rated</option>
            <option>Price Low to High</option>
            <option>Price High to Low</option>
        </select>
    </div>
    <div class="clothing">
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        // for expand icons
        document.querySelectorAll('.expand-icon').forEach(icon => {
            icon.addEventListener('click', (event) => {
                const children_div = icon.parentElement.querySelector('.children');
                if (children_div) {
                    if (children_div.style.display === 'none') {
                        children_div.style.display = 'block';
                        icon.querySelector('img').src = "{{ url_for('static', filename='icons/minus.svg') }}";
                    } else {
                        children_div.style.display = 'none';
                        icon.querySelector('img').src = "{{ url_for('static', filename='icons/plus.svg') }}";
                    }
                }
            });
        });

        // link to product page
        function attachProductPages(html) {
            html.querySelectorAll('.item').forEach(item => {
            item.addEventListener('click', (event) => {
                event.preventDefault();
                const url = item.getAttribute('data-url');
                window.location.href = url;
            });
        });
        }

        // load products
        async function fetchProducts(category) { 
            const clothing_section = document.querySelector('.clothing');
            clothing_section.innerHTML = "";

            var products_url = "{{ url_for('products.getall') }}";
            if (category) {
                products_url = `${products_url}/?category=${category}`
            }
            const response = await fetch(products_url);
            const data = await response.json();
            const products = data.products;

            products.forEach((product) => {
                const item_div = document.createElement('div');
                item_div.classList.add('item');
                const uploads_folder = "{{ url_for('static', filename='uploads/') }}"
                const img_url = `${uploads_folder}/${product.image_url}`;
                const product_base_url = "{{ url_for('viewproduct', product_id=0).replace('0', '') }}";
                const product_url = `${product_base_url}/${product.product_id}`;

                item_div.setAttribute("data-url", product_url);
                item_div.innerHTML = `
                    <div class="image-container">
                        <img src="${img_url}" alt="${product.product_name}" fill>
                    </div>
                    <div class="name">${product.product_name}</div>
                    <div class="price">₱${product.price}</div>
                `;

                clothing_section.appendChild(item_div);
                attachProductPages(clothing_section);
            });
        }

        // add filter functionality
        let last_checked_category = null;

        function attachFilters() {
            const category_filters = document.querySelectorAll(".catalog-side input[type='radio'][name='category']");
            
            category_filters.forEach((category) => {
                category.addEventListener("click", (event) => {
                    if (last_checked_category === category) {
                        category.checked = false;
                        last_checked_category = null;
                        fetchProducts(null);
                    } else {
                        last_checked_category = category;
                        const category_value = category.value;
                        fetchProducts(category_value);
                    }
                });
            });
        }

        fetchProducts();
        attachFilters();
    });
</script>
{% endblock %}