{% extends "base.html" %}

{% block title %}
<title>Zypher Catalog</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='styles/catalog.css') }}"> 
{% endblock %}

{% block js %}
<script src="{{ url_for('static',filename='js/catalog.js') }}" defer></script>
{% endblock %}

{% block content %}
<div id="catalog-content">
    <div class="catalog-side">
        <div class="title">Filter</div>
        <!-- Categories -->
        <div class="filter-title">Categories</div>
        {% for d1 in filters.category_tree %}
        <div class="d1">
            <input type="radio" name="category" value="{{ d1.category_id }}">
            {{ d1.category_name }}
            {% if d1.children|length > 0 %}
            <span class="expand-icon"><img src="{{ url_for('static', filename='icons/plus.svg') }}"></span>
            {% endif %}
            <div class="children" style="display: none;">
                {% for d2 in d1.children %}
                    <div class="d2">
                        <input type="radio" name="category" value="{{ d2.category_id }}">
                        {{ d2.category_name }}
                        {% if d2.children|length > 0 %}
                        <span class="expand-icon"><img src="{{ url_for('static', filename='icons/plus.svg') }}" loading="lazy"></span>
                        {% endif %}
                        <div class="children" style="display: none;">
                            {% for d3 in d2.children %}
                                <div class="d3">
                                    <input type="radio" name="category" value="{{ d3.category_id }}">
                                    {{ d3.category_name }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
        <!-- Colors -->
        <div class="filter-title">Color</div>
        {% for color in filters.colors %}
        <div class="d1">
            <input type="radio" name="color" value="{{ color }}">
            {{ color }}
        </div>
        {% endfor %}
        <!-- Size -->
        <div class="filter-title">Size</div>
        {% for size in filters.sizes %}
        <div class="d1">
            <input type="radio" name="size" value="{{ size }}">
            {{ size }}
        </div>
        {% endfor %}
    </div>
    <div class="catalog-main">
        <div id="sort">
            <label class="label" for="sort">Sort by</label>
            <select class="options" name="sort" id="sort">
                <option>Recommended</option>
                <option>Most Popular</option>
                <option>New Arrivals</option>
                <option>Top Rated</option>
                <option>Price Low to High</option>
                <option>Price High to Low</option>
            </select>
        </div>
        <div class="clothing">
        </div>
    </div>
</div>
{% endblock %}