.cart-main {
    grid-row: 2 / 14;
    grid-column: 1 / 14;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;

    .title {
        font-size: 28px;
        text-align: center;
        font-family: sarala;
        font-weight: bold;
        letter-spacing: 0.05em;
        margin-bottom: 24px;
        color: rgba(0, 0, 0, 0.9);
    }

    .table {
        grid-row: 2 / 12;
        grid-column: 2 / 9;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        .table-header {
            display: grid;
            grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr;
            font-size: 14px;
            align-items: center;
            padding: 16px 12px;
            color: rgba(0, 0, 0, 0.7);
            background-color: white;
            border-radius: 6px;
            margin-bottom: 10px;
            border: 1px solid rgba(0, 0, 0, 0.2);
        }

        .table-rows{
            border-radius: 6px;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.2);
            overflow-y: scroll;

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #ffffff00;
            }
    
            &::-webkit-scrollbar-thumb{
                height: 120px;
                border-radius: 6px;
                background-color: #00000020;
            }

            .table-empty {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;

                .message {
                    line-height: 66px;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 13px;
                }
            }

            .table-row {
                display: grid;
                grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr;
                font-size: 13px;
                align-items: center;
                padding: 18px 12px;
                color: rgba(0, 0, 0, 0.8);
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                .item-col {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;

                    .image-container {
                        width: 80px;
                        height: 80px;
                        background-color: #ccc;
                        overflow: hidden;
                        position: relative;
                    
                        img {
                            max-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                        }
                    }

                    .item-details {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 6px;

                        .item-name {
                            max-width: 250px;
                            font-weight: bold;
                            font-size: 14px;
                            margin-bottom: 4px;
                            color: rgba(0, 0, 0, 0.8)
                        }
                    }
                }

                .item-quantity {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                    }

                    button {
                        background-color: white;
                        border-radius: 0px;
                        border: none;
                        display: flex;
                        align-items: center;

                        .icon img {
                            width: 12px;
                            height: 12px;
                        }

                        &:hover {
                            cursor: pointer;
                            opacity: 60%;
                        }
                    }
                }

                .remove {
                    color: darkred;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }

            .table-row:last-child {
                border-bottom: none;
            }
        }
    }

    .checkout {
        grid-row: 3 / 7;
        grid-column: 10 / 13;
        width: 100%;
        height: 100%;
        
        .summary {
            background-color: rgba(0, 0, 0, 0.9);
            color: white;
            border-radius: 6px;
            width: auto;
            height: 100%;
            padding: 36px;
            display: flex;
            flex-direction: column;
            gap: 26px;
            align-items: center;
            justify-content: center;

            #label {
                letter-spacing: 0.05em;
                font-size: 28px;
            }

            #total {
                letter-spacing: 0.05em;
                font-size: 32px;
                margin-bottom: 38px;
            }

            button {
                background-color: white;
                width: 100%;
                padding: 12px;
                font-size: 22px;
                border: 2px solid white;
                border-radius: 6px;

                &:hover {
                    cursor: pointer;
                    background-color: black;
                    color: white;
                }
            }
        }
    }
}