.cart-main {
    grid-row: 2 / 14;
    grid-column: 1 / 14;
    display: grid;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    flex-direction: column;
    align-items: center;
    background-color: white;

    #title {
        grid-row: 1 / 2;
        grid-column: 3 / 7;
        font-size: 24px;
        width: 100%;

        span {
            text-transform: uppercase;
            font-family: sarala;
            letter-spacing: 0.2em;
            color: darkgoldenrod;
            font-weight: bold;
        }
    }

    .table {
        grid-row: 2 / 12;
        grid-column: 3 / 12;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .table-header {
            flex: 1;
            display: grid;
            grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr;
            font-size: 14px;
            align-items: center;
            padding: 16px 12px;
            color: black;
            background-color: white;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 6px;
            text-transform: uppercase;
            letter-spacing: 0.1em;
        }

        .table-rows{
            flex: 13;
            height: 100%;
            border-radius: 6px;
            background-color: white;
            overflow-y: scroll;
            border: 1px solid rgba(0, 0, 0, 0.2);

            &::-webkit-scrollbar {
                width: 6px;
                background-color: #ffffff00;
            }
    
            &::-webkit-scrollbar-thumb{
                height: 120px;
                border-radius: 6px;
                background-color: rgba(0, 0, 0, 0.2);
            }

            .table-empty {
                display: flex;
                width: 100%;
                height: 100%;
                align-items: center;
                justify-content: center;

                .message {
                    line-height: 66px;
                    text-transform: uppercase;
                    letter-spacing: 0.1em;
                    color: rgba(0, 0, 0, 0.7);
                    font-size: 13px;
                }
            }

            .table-row {
                display: grid;
                grid-template-columns: 0.4fr 3fr 1fr 1fr 1fr;
                font-size: 14px;
                align-items: center;
                padding: 18px 12px;
                color: rgba(0, 0, 0, 0.8);
                border-bottom: 1px dashed rgba(0, 0, 0, 0.2);

                .item-col {
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    align-items: center;

                    .image-container {
                        width: 80px;
                        height: 80px;
                        background-color: #ccc;
                        overflow: hidden;
                        position: relative;
                    
                        img {
                            max-height: 100%;
                            min-width: 100%;
                            object-fit: cover;
                        }
                    }

                    .item-details {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        gap: 6px;

                        .item-name {
                            max-width: 250px;
                            font-weight: bold;
                            font-size: 14px;
                            margin-bottom: 4px;
                            color: rgba(0, 0, 0, 0.8)
                        }
                    }
                }

                .item-quantity {
                    display: flex;
                    align-items: center;
                    gap: 20px;

                    .quantity {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 32px;
                        height: 32px;
                        border: 1px solid rgba(0, 0, 0, 0.2);
                    }

                    button {
                        background-color: white;
                        border-radius: 0px;
                        border: none;
                        display: flex;
                        align-items: center;

                        .icon img {
                            width: 12px;
                            height: 12px;
                        }

                        &:hover {
                            cursor: pointer;
                            opacity: 60%;
                        }
                    }
                }

                .remove {
                    color: darkred;
                    text-decoration: none;
                    
                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }

        .checkout-summary {
            flex: 1;
            display: grid;
            grid-template-columns: 2fr 1.4fr 1fr 2fr;
            font-size: 14px;
            align-items: center;
            min-height: 46px;
            color: rgba(0, 0, 0, 0.8);
            border-radius: 6px;

            #checkout-label {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-weight: bold;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 0.2em;
                color: darkgoldenrod;
            }

            #order-total-label {
                letter-spacing: 0.1em;
                text-transform: uppercase;
                font-size: 16px;
                width: 100%;
                text-align: right;
                font-weight: bold;

                span {
                    padding-right: 12px;
                }
            }

            #order-total {
                display: flex;
                align-items: center;
                height: 100%;
                font-size: 14px;
            }

            #checkout-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: darkgoldenrod;
                border: 2px solid darkgoldenrod;
                box-sizing: border-box;
                color: white;
                border-radius: 6px;

                span {
                    font-size: 16px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                }

                &:hover {
                    cursor: pointer;
                    color: darkgoldenrod;
                    background-color: white;
                }
            }
        }
    }
}