form {
    padding: 22px;

    .heading {
        width: 100%;
        font-size: 28px;
        text-align: center;
        margin-bottom: 26px;
    }

    .heading-2 {
        width: 100%;
        font-size: 18px;
        text-align: center;
        margin-bottom: 6px;
        color: rgba(0, 0, 0, 0.8);
    }

    .form-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        justify-items: center;
        align-items: center;
        gap: 18px;

        .form-group {
            position: relative;
            display: flex;
            flex-direction: row;
            width: 100%;
            margin: 20px 0px;
    
            label {
                position: absolute;
                top: -24px;
                font-size: 14px;
                margin-bottom: 8px;
                color: rgba(0, 0, 0, 0.7);
                letter-spacing: 0.08em;
            }
        
            input[type=text], input[type=email], input[type=password], input[type=number], select {
                width: 100%;
                flex-basis: auto;
                border-radius: 4px;
                padding: 12px 12px;
                letter-spacing: 0.02em;
                border: 1px solid rgba(0, 0, 0, 0.2);

                &:disabled {
                    background-color: rgba(0, 0, 0, 0.1);

                    &::selection {
                        background-color: transparent;
                    }
                }
            }
        }
    }

    .form-btn {
        border-radius: 22px;
        padding: 12px 8px;
        width: 100%;
        border: none;
        font-size: 16px;
        color: white;
        text-align: center;
        margin-top: 32px;

        &:hover {
            cursor: pointer;
            opacity: 80%;
        }

        &#login-btn {
            background-color: darkgoldenrod;
        }

        &#save-btn {
            background-color: seagreen;
        }

        &#delete-btn {
            background-color: darkred;
        }

        &#close-btn, &#edit-btn, &#cancel-btn {
            background-color: slategray;
        }

        &.width-50 {
            width: 50%;
        }
    }

    #register, #login {
        width: 100%;
        font-size: 14px;
        text-align: center;
    }

    hr {
        opacity: 20%;
        margin: 32px 0px;
    }
}