@font-face {
    font-family: rubik;
    src: url('../fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: queensides;
    src: url('../fonts/Queensides.ttf');
}

@font-face {
    font-family: sarala;
    src: url('../fonts/Sarala-Regular.ttf');
}

@font-face {
    font-family: sarala;
    src: url('../fonts/Sarala-Bold.ttf');
    font-weight: bold;
}

body {
    margin: 0;
    padding: 0;
    font-family: rubik;
    overflow: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(13, 1fr);

    .header {
        grid-row: 1 / 2;
        grid-column: 1 / 14;
        display: grid;
        grid-template-rows: 32px 84px;
        grid-auto-columns: subgrid;
        margin: 0;
        padding: 0;
        z-index: 3;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
        
        .banner {
            grid-row: 1 / 1;
            grid-column: 1 / 14;
            background-color: darkgoldenrod;
            align-items: center;

            #facebook-link {
                padding-left: 66px;
                display: flex;
                align-items: center;

                .icon {
                    width: 16px;
                    height: 16px;
                }
    
                a {
                    text-transform: capitalize;
                    color: white;
                    font-size: 13px;
                    line-height: 32px;
                    letter-spacing: 0.08em;
                    font-style: italic;
                    text-decoration: none;
                    padding-left: 12px;
                    
                    &:hover {
                        color: rgb(14, 14, 14);
                    }
                }
            }
        }

        .header-logo {
            grid-row: 2 / 2;
            grid-column: 1 / 3;
            padding: 8px;
            padding-left: 66px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;

            a {
                width: 0px;
                height: 100%;
                padding: 0px;
                margin: 0px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            img {
                max-height: 100%;
                object-fit: contain;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    
        .header-navigation {
            grid-row: 2 / 2;
            grid-column: 3 / 11;

            .nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                height: 100%;
                margin: 0;
                padding: 0;
            }
        }
    
        .header-menu {
            grid-row: 2 / 2;
            grid-column: 12 / 14;
            display: flex;
            align-items: center;
            justify-items: center;
        }

        button {
            height: 50%;
            width: 110px;
            color: rgba(0, 0, 0, 0.8);
            background-color: white;
            border: none;
            font-size: 14px;
            letter-spacing: 0.06em;
            text-transform: uppercase;
            font-family: queensides;
            font-weight: bold;
            align-self: flex-end;
            padding-bottom: 24px;
            border-bottom: 6px solid rgba(255, 255, 255, 0);

            &.active {
                border-bottom: 2px solid darkgoldenrod;
            }

            &:hover {
                color: darkgoldenrod;
                cursor: pointer;
                transition: 0.3s;
            }
        }

        .dropdown {
            position: relative;
            display: flex;
            height: 100%;
            margin: 0px;

            .dropdown-btn {
                align-self: flex-end;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                min-width: 200px;
                box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
                z-index: 2;
                top: 100%;
                button {
                    background-color: white;
                    color: black;
                    border: none;
                    padding: 24px 18px;
                    padding-right: 34px;
                    text-align: left;
                    width: 100%;
                    cursor: pointer;
                    font-size: 12px;
                    display: flex;
                    align-items: center;

                    .icon {
                        height: 16px;
                        width: 16px;
                        margin: 0px;
                        padding: 0px;
                        margin-right: 18px;
                    }

                    &:hover {
                        background-color: #ddd;
                    }
                }

                hr {
                    opacity: 10%;
                    margin: 0px 12px;
                }
            }

            &:hover {
                .dropdown-content {
                    display: block;
                }
            }
        }

        .cart-button {
            position: relative;
            display: flex;
            height: 100%;
            padding: 0px;
            margin: 0px;

            &:hover {
                #cart-preview {
                    display: block;
                }
            }
        }
        
        #cart-preview {
            display: none;
            position: absolute;
            background-color: white;
            min-width: 250px;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
            z-index: 2;
            top: 100%;
            padding: 16px;
            left: 0;
        }
        
        #cart-preview ul {
            list-style-type: none;
            padding: 0px;
            margin: 0px;
        }

        hr {
            opacity: 30%;
            margin: 20px 0px;
        }
        
        #cart-preview .centered-msg {
            width: 100%;
            text-align: center;
            letter-spacing: 0.04em;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.7);
            font-style: italic;
        }

        #cart-preview li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 10px;
        }
        
        #cart-preview .image-container {
            width: 50px;
            height: 50px;
            margin-right: 10px;

            img {
                object-fit: cover;
                min-width: 100%;
                max-height: 100%;
            }
        }
        
        #cart-preview .product-name {
            flex-grow: 1;
            padding-right: 20px;
            font-size: 14px;
            max-width: 120px;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
        
        #cart-preview .product-price {
            min-width: 80px;
            font-weight: bold;
            font-size: 14px;
            color: darkgoldenrod;
            text-align: right;
        }
        
        #cart-preview a {
            display: block;
            text-align: center;
            margin-top: 10px;
            padding: 8px;
            background-color: darkgoldenrod;
            border: 1px solid darkgoldenrod;
            color: white;
            text-decoration: none;
        }
        
        #cart-preview a:hover {
            color: darkgoldenrod;
            background-color: white;
        }

        .cart-count {
            position: absolute; 
            top: 30px; 
            right: 16px;
            width: 18px;
            height: 18px;
            padding: 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: rgba(139, 0, 0, 0.8); 
            color: white; 
            border-radius: 100%;
            font-size: 10px;
            line-height: 100%;
        }
        .cart-count.empty {
            display: none; 
        }
    }

    #notifications {
        grid-column: 13 / 14;
        grid-row: 14 / 15;
        display: flex;
        flex-direction: column;
        width: 0px;
        height: 0px;
        align-items: center;
        justify-content: flex-end;

        .notif {
            display: grid;
            grid-template-columns: 40px 1fr;
            gap: 20px;
            padding: 0px 30px;
            width: 300px;
            min-height: 90px;
            background-color: white;
            align-items: center;
            margin-bottom: 16px;
            margin-right: 96px;
            border-radius: 4px;
            z-index: 99;

            .icon {
                display: block;
                grid-column: 1 / 2;
                width: 30px;
                height: 30px;
                background-size: 30px 30px;
                opacity: 80%;

                &.error {
                    background-image: url('../icons/error.png');
                }

                &.warning {
                    background-image: url('../icons/warning.png');
                }

                &.info {
                    background-image: url('../icons/info.png');
                }

                &.success {
                    background-image: url('../icons/success.png');
                }
            }

            p {
                grid-column: 2 / 3;
            }

            &.error {
                background-color: rgb(255, 222, 222);
                border: 1px solid rgba(139, 0, 0, 0.2);

                p {
                    color: darkred;
                }
            }

            &.warning {
                background-color: rgb(253, 255, 220);
                border: 1px solid rgba(184, 135, 11, 0.2);

                p {
                    color: darkgoldenrod;
                }
            }

            &.info {
                background-color: rgb(233, 255, 255);
                border: 1px solid rgba(47, 79, 79, 0.2);

                p {
                    color: darkslategrey;
                }
            }

            &.success {
                background-color: rgb(219, 255, 219);
                border: 1px solid rgba(0, 100, 0, 0.2);

                p {
                    color: darkgreen;
                }
            }

            &.fade {
                opacity: 0%;
                transition: 0.3s ease-in-out;
            }
        }
    }

    @media only screen and (max-width: 1024px) {
        .header {
            grid-template-rows: 0px 90px;

            .banner {
                height: 0px;
                display: none;
            }

            .header-logo {
                grid-column: 1 / 14;
            }

            .header-navigation {
                display: none;
            }

            .header-menu {
                display: none;
            }
        }

        .catalog-side {
            grid-row: 2 / 6;
            grid-column: 1 / 14;
            flex-direction: row;
            justify-items: center;
            border-right: none;
            overflow-x: hidden;
            touch-action: none;
            user-select: none;

            .title {
                display: none;
            }

            .filter {
                min-width: 120px;
                height: 48px;
                display: flex;
                flex-direction: column;
                margin-right: 24px;
                padding: 0px;
                border: 1px solid rgba(0, 0, 0, 0.9);
                z-index: 2;

                .option {
                    background-color: rgba(0, 0, 0, 0.9);
                    margin: 0;
                    padding: 4px;
                    display: none;

                    .label {
                        color: rgb(255, 255, 255);
                    }
                }

                .category {
                    font-size: 15px;
                    line-height: 32px;
                    width: 100%;
                    height: 48px;
                    text-align: center;
                    margin: 0;
                    padding: 0;
                    margin-bottom: 17px;
                }

                &:hover {
                    background-color: rgba(0, 0, 0, 0.9);
                    border: 1px solid white;
                    color: white;

                    .option {
                        display: inline-block;
                    }
                }
            }
        }

        .catalog-main {
            grid-row: 4 / 14;
            grid-column: 1 / 14;
            border-top: 1px solid rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .cart-main {
            .title {
                content-visibility: hidden;
            }

            .table {
                grid-row: 1 / 9;
                grid-column: 2 / 12;

                .table-header {
                    display: none;
                }
            }

            .checkout {
                grid-row: 9 / 11;
                grid-column: 2 / 12;
                
                .summary {
                    gap: 2px;

                    #label {
                        letter-spacing: 0.05em;
                        font-size: 14px;
                    }
    
                    #total {
                        letter-spacing: 0.05em;
                        font-size: 22px;
                        margin-bottom: 12px;
                    }

                    button {
                        font-size: 12px;
                        padding: 8px;
                    }
                }
            }
        }
    }
}